/*----------------------------------------------
dashboard RTL 
----------------------------------------------*/

.sidebar-menu>li>a i {
    margin-right: 0;
    margin-left: 5px;
}

.widget-user-image.profile-img-2 {
    margin-left: 10px;
}

/*----------------------------------------------
dashboard RTL 
----------------------------------------------*/
.sidebar {
    padding-bottom: 10px;
    margin-top: 38px;
}

@media only screen and (max-width: 767px) {
    .btn {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
    }
}


@media (min-width: 678px) and (max-width: 1000px) {
    .btn {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
    }

    .restaurantStatusButton {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .orderAbtn {
        display: flex;
        gap: 10px;
    }
}

.kds_shop__header_right ul li a {
    flex-direction: row-reverse !important;
}

.ci-input-group {
    flex-direction: row-reverse;
}

.pr-lg-0 {
    padding-left: 0;
    padding-right: auto;
}

.custom-radio input[type=radio] {
    margin-right: 0;
    margin-left: 7px;
}